<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartStreetLab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>205A09FF1F6DF29B004B5C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A0A131F6DF29B004B5C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A0A1E1F6DF29B004B5C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
